.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 650px;
  max-width: 800px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 20px auto;
}