.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  overflow-y: visible;
  margin: 20px;
  max-width: 800px;

  @media only screen and (min-width: 768px) {
    margin: 0 auto;
    height: 100vh;
  }
}