@import "../../shared.scss";

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__h1 {
        font-weight: $fw-bold;
        font-size: rem(31px);
        line-height: 2;
    }

    &__h2 {

    }

    &__h1,
    &__h2 {
        color: $rhino;
    }

    .link {
        background-color: $kashmir-blue;
        color: $white-lilac;
        width: 190px;
        height: 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        text-decoration: none;
        margin-top: 30px;
    }
}