@use "../../common/common.scss" as *;

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__h1 {
        font-weight: $fw-bold;
        font-size: rem(31px);
        line-height: 2;
    }

    &__h2 {
        font-size: rem(20px);
    }
    
    .link {
        @include buttonCommonStyle;
        text-decoration: none;
        margin-top: 30px;
    }
}