@use "../../common/common.scss" as *;

.question {    
    text-align: left;

    &--disabled {
        pointer-events: none;
    }

    &__text {
        margin-bottom: 15px;
        font-weight: $fw-bold;
        font-size: rem(20px);
    }

    &__hr {
        margin-bottom: 30px;
        color: $periwinkle-gray;
    }

    &__checkAnswersBtn {
        color: #fff;
    }

    &--showResults {
        .choice:not(.choice--correct) {
            opacity: 0.7;
        }

        .choice {
            &--correct {
                background: $vista-blue;
            }
            
            &__selected {
                &--wrong {
                    background-color: $illusion;
                    opacity: 0.8;
                }    
            }

            &--correct,
            &__selected {
                border: none;
            }
        }
    }
}

.choices {
    display: flex;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
        width: 200px;
        margin: 0 auto;
    }
}

.choice {
    border-radius: 10px;
    border: 1px solid $kashmir-blue;
    padding: 5px 10px;
    text-align: center;
    font-weight: $fw-medium;
    min-width: 30px;

    &:not(:first-child) {
        margin-top: 20px;
        
        @media only screen and (min-width: 768px) {
            margin-top: 0;
            margin-left: 20px;
        }
    }

    &:hover {
      cursor: pointer;  
    }

    &__selected {
        background-color: $link-water;
        border: none;
    }
}

.question__checkAnswersBtn,
.choice__selected--correct {
    font-weight: $fw-medium-bold;
}