@import "../../shared.scss";

.question {
    &--disabled {
        pointer-events: none;
    }
}

.choice {
    &__selected {
        color: orange;

        &--correct {
            font-weight: $fw-bold;
            background: green;
        }

        &--wrong {
            font-weight: $fw-bold;
            background: red;
        }
    }
}