@use 'sass:math';


//* Function: rem()
//* DESCRIPTION: px -> rem conversion
@function rem($px, $base: 16px) {
  @return math.div($px, $base) * 1rem;
}

// COLORS
$white-lilac: #F5F7FB;
$rhino: #293264;
$kashmir-blue: #4D5B9E;
$periwinkle-gray: #DBDEF0;
$link-water: #D6DBF5;
$illusion: #F8BCBC;
$vista-blue: #94D7A2;

// FONT-WEIGHT
$fw-bold: 700;
$fw-medium: 500;
$fw-medium-bold: 600;
