@import './reset.scss';
@import './shared';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white-lilac;
  font-size: 16px;
}