@use "common/common.scss" as *;
@use "./reset.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white-lilac;
  font-size: 16px;
  color: $rhino;
}