@use "./colors.scss" as *;
@use "./functions.scss" as *;

// BUTTONS
@mixin buttonCommonStyle {
    background-color: $kashmir-blue;
    color: $white-lilac;
    padding: 20px 10px;
    border-radius: 10px;
    font-weight: 600;
    border-color: none;
    border: none;
    width: 155px;
    line-height: 1.2;
    font-size: rem(17px);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}